<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light" [containerInside]="false">
	<mdb-navbar-brand>
		<a class="navbar-brand" routerLink="/">
			<img src="https://nolan-web-profile.s3.amazonaws.com/static/images/nksimple.png" alt="" width="200" height="60" loading="lazy">
		</a>
	</mdb-navbar-brand>
  
	<links>
		<ul class="navbar-nav">
			<ng-container *ngIf="authorized; else elseTemplate">
				<li class="nav-item">
					<a class="nav-link waves-light" routerLink="profile" mdbWavesEffect><mdb-icon fas icon="user-secret"></mdb-icon> <strong>{{username}}</strong></a>
				</li>
			</ng-container>
			<ng-template #elseTemplate>
				<li class="nav-item">
					<a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="user-secret"></mdb-icon> <strong>Anonymous</strong></a>
				</li>
			</ng-template>
			
		</ul>

		<ul class="navbar-nav ml-auto" *ngIf="authorized">
			<li class="nav-item">
				<a class="nav-link waves-light" routerLink="authentication" mdbWavesEffect (click)="signout()"><mdb-icon fas icon="sign-out-alt"></mdb-icon>&nbsp;&nbsp;Sign out</a>
			</li>
		</ul>
	</links>
</mdb-navbar>